body{
    color: #87CEEB			;
    background-color: #F5FFFA	;
    font-family: Arial, Helvetica, sans-serif;}
ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 18px;}
h1{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;    }
a{
    color: #B0E0E6	;
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;}
header img{
    width: 150px;
    height: 150px;
    border: 5px solid #B0E0E6;
    border-radius: 50%;}
.center{
    text-align: center;}    
h1{
    color: #87CEEB;}
img{
    width: 40px;
    height:40px;}